<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
  <body>
    <footer th:fragment="footer" class="footer" id="footer">
         <div class="footer-container">
             <div class="footer-info">
                 <h3><a href="index.html">Evimfix</a></h3>
                 <p>Sizə lazım olan tək platforma - EvimFix.</p>
             </div>
         
             <div class="footer-links">
                 <h3>Sürətli keçidlər</h3>
                 <ul>
                     <li><a href="indexWeb.html">Alqı Satqı</a></li>
                     <li><a href="indexWeb.html">Kirayə</a></li>
                     <li><a href="indexWeb.html">Günlük</a></li>
                     <li><a href="#sec4">Haqqımızda</a></li>
                     <li><a href="tel:+994505131380">Bizimlə Əlaqə</a></li>
                 </ul>
             </div>

             <div class="footer-social">
                 <h3>Bizi izləyin</h3>
                 <ul>
                     <li><a href="https://shorturl.at/yipHj" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                     <li><a href="https://shorturl.at/PEljm" target="_blank"><i class="bx bxl-tiktok"></i></a></li>
                 </ul>
             </div>
         </div>
         <div class="footer-bottom" style="margin-top: 20px;">
             <p>&copy; 2025 Revio.Az - Bütün hüquqlar qorunur.</p>
             <p><a href="evimfix-terms.html">İstifadə şərtləri və Məxfilik siyasəti</a></p>
         </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script th:src="@{/website/js/app.js}"></script>
    </footer>
  </body>
</html>