<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="az">
<head th:replace="~{/website/template/head :: head}"></head>
<head>
    <link th:href="@{/website/css/styles2.css}" rel="stylesheet" />
</head>
<body>
    <!-- navbar -->
    <div th:replace="~{/website/template/navbar :: navbar}"></div>

    <section class="property-detail">
        <h3 style="padding-left: 10px; padding-bottom:15px; color: #525252;" id="property-title">
            <span th:text="${alqiSatqi.sheherAdi + ' şəhəri'}"></span><span th:if="${alqiSatqi.rayonAdi != null}" th:text="', ' + ${alqiSatqi.rayonAdi}"></span>
        </h3>
        <div class="property-images">
            <button class="prev-btn">&#10094;</button>

            <div th:each="photo : ${alqiSatqi.photoPaths}">
                <img th:src="@{/photos/{filename}(filename=${photo})}" class="property-slide" style="display: none; background-size: cover;" loading="lazy">
            </div>
            <div class="slide-indicators"></div>
            
            <button class="next-btn">&#10095;</button>
        </div>

        <div class="property-content">
            <div class="property-description">
                <h2 id="property-title" th:text="${alqiSatqi.bashliq}">Ev başlığı</h2>
                <p id="property-description" th:text="${alqiSatqi.haqqinda}">
                </p>
            </div>

            <div class="property-contact">
                <h3>Əlaqə məlumatları və detallar:</h3>
                <ul>
                    <li><strong>Elan:</strong>&nbsp;<span id="property-number" th:text="${alqiSatqi.id}"></span></li>
                    <li><strong>Tip:</strong> <span id="property-type" th:text="${alqiSatqi.menzilNovAdi}">Mənzil</span></li>
                    <li><strong>Sahə:</strong> <span id="property-area" th:text="${alqiSatqi.sahe} + ' M²'"></span></li>
                    <li><strong>Təmirli:</strong> <span id="property-area" th:text="${alqiSatqi.temir == 1 ? 'Hə' : 'Yox'}"></span></li>
                    <li><strong>Çıxarış:</strong><span id="property-area" th:text="${alqiSatqi.chixarish == 1 ? 'Var' : 'Yox'}"></span></li>
                    <li><strong>Sahə:</strong> <span id="property-area" th:text="${alqiSatqi.sahe}"></span></li>
                    <li><strong>Qiymət:</strong> <span id="property-price" th:text="${alqiSatqi.qiymet}"></span></li>
                    <li><strong>Ünvan:</strong> <span id="property-address" th:text="${alqiSatqi.unvan}"></span></li>
                    <li><strong>Metro:</strong> <span id="property-nearby-metro" th:text="${alqiSatqi.metroAdi}"></span></li>
                    <!-- <li><strong>Ad:</strong> <span id="property-seller-name" th:text="${alqiSatqi.sahibi}"></span></li> -->
                    <li><strong>Əlaqə:</strong>📞 <a href="tel:+994505131380" id="property-contact" th:text="${alqiSatqi.telefon}"></a></li>
                </ul>
            </div>
        </div>

        <div class="property-map">
            <h3>Yerləşmə xəritəsi</h3>
            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7951.325843262112!2d49.83895840064746!3d40.
              38208197720522!3m2!1i1024!2i768!4f13.1!3m3!1m2!
              1s0x40307d6b66f4e8bb%3A0xf9974561a251d4a5!2s%2228%20May%22%20metro%20station!5e0!3m2!1sen!2saz!4v1746436355644!5m2!1sen!2saz" 
              width="100%" 
              height="350" 
              style="border:0; border-radius: 10px;" 
              allowfullscreen="" 
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <!-- Before closing </body> -->
        <div class="mobile-call-btn">
            <a href="tel:+994505131380">📞 Operatora zəng et</a>
        </div>
    </section>

    <footer th:replace="~{/website/template/footer :: footer}"></footer>

    <script th:src="@{/website/js/property-detail.js}"></script>
    
</body>