<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="az">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="az">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="copyright" content="Copyright &copy; 2025 EvimFix">
    <meta name="keywords" content="ev, alqi-satqi, kiraye, emlak, obyekt, ev kirayesi, ev satisi">
    <meta name="author" content="Evimfix">
    <meta name="designer" content="Revio.az">
    <meta name="description" content="Evimfix - Azərbaycanda kirayə ev tapmaq üçün ən yaxşı platforma.">

    <!-- <link th:href="@{/website/bootstrap-5.3.3-dist/css/bootstrap.min.css}" rel="stylesheet" /> -->

    <link th:href="@{/website/css/style.css}" rel="stylesheet" />
    <link th:href="@{/website/css/styles2.css}" rel="stylesheet" />
    <link th:href="@{/website/css/media.css}" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/wpAdmin/img/logoicon.png}">
    <link rel="icon" type="image/png" th:href="@{/wpAdmin/img/logoicon.png}">

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> -->

    <title>Evimfix - Ev Kirayəsi Xidmətləri</title>
    
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="container">
            <a href="index.html"><div class="logo">Evimfix</div></a>

            <ul class="nav-list">
                <li>
                    <a href="#" class="list-item">Alqı Satqı</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="list-item dropdown-toggle">Kirayə</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="dropdown-item">Kirayə Günlük</a></li>
                        <li><a href="#" class="dropdown-item">Kirayə Aylıq</a></li>
                    </ul>
                </li>

                <li><a href="aboutUs.html" class="list-item">Haqqımızda</a></li>
                <li><a href="favorites.html" class="list-item">Sevimlilər</a></li>
                <li><a href="contactUs.html" class="list-item">Bizimlə Əlaqə</a></li>
            </ul>

            <div class="mobile-menu" onclick="showMenu()">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
        </div>
    </nav>

    <!-- search box -->
    <form th:action="@{/}" method="GET">
        <div class="search-container">
            <div class="search-input">
                <select name="sheher" onchange="enableDistrict(this)" id="locationSelect">
                    <option value="">Şəhər seçin</option>
                    <option th:each="sheher : ${sheherler}" th:value="${sheher.key}" th:text="${sheher.value}"
                    th:selected="${sheher.key == sheherA} ? 'selected' : null"></option>
                </select>
                <img th:src="@{/website/img/location.svg}" alt="Location Icon" />
            </div>
            <div class="search-input">
                <select name="rayon" disabled id="bakuDistrict">
                    <option value="">Rayonu seçin</option>
                    <option th:each="rayon : ${rayonlar}" 
                        th:value="${rayon.key}" 
                        th:text="${rayon.value}"
                        th:selected="${rayon.key == rayonA} ? 'selected' : null"></option>
                </select>
                <img th:src="@{/website/img/location.svg}" alt="Baku District Icon" />
            </div>

            <!-- <div id="defaultRayonlar" style="display:none;">
                <option value="" selected disabled>Rayonu seçin</option>
                <option th:each="rayon : ${rayonlar}" 
                        th:value="${rayon.key}" 
                        th:text="${rayon.value}"
                        th:selected="${rayon.key == rayonA} ? 'selected' : null"></option>
            </div> -->

            <div class="search-input">
                <select name="metro" id="metrolar" disabled>
                    <option value="" th:text="#{enterUnderground}"></option>
                    <option th:each="metroEl : ${metrolar}" 
                            th:value="${metroEl.key}" 
                            th:text="${metroEl.value}"
                            th:selected="${metroEl.key == metro} ? 'selected' : null"></option>
                </select>
                <img th:src="@{/website/img/metro-svgrepo-com.svg}" alt="Metro Icon" />
            </div>
            <div class="search-input">
                <input type="text" name="minQiymet" th:value="${minQiymet != null ? minQiymet : null}" placeholder="Min Qiymət" />
                <img th:src="@{/website/img/money.svg}" alt="Min Budget" />
            </div>
            <div class="search-input">
                <input type="text" name="maxQiymet" th:value="${maxQiymet != null ? maxQiymet : null}" placeholder="Max Qiymət" />
                <img th:src="@{/website/img/money.svg}" alt="Max Budget" />
            </div>
            <div class="search-input">
                <select name="otaqSayi">
                    <option value="">Otaq sayı seçin</option>
                    <option value="1" th:selected="${otaqSayi == 1 ? 'selected' : null}">1 Otaqlı</option>
                    <option value="2" th:selected="${otaqSayi == 2 ? 'selected' : null}">2 Otaqlı</option>
                    <option value="3" th:selected="${otaqSayi == 3 ? 'selected' : null}">3 Otaqlı</option>
                    <option value="4" th:selected="${otaqSayi == 4 ? 'selected' : null}">4 Otaqlı</option>
                    <option value="5" th:selected="${otaqSayi == 5 ? 'selected' : null}">5+ Otaqlı</option>
                </select>
                <img th:src="@{/website/img/NumOfRooms.png}" alt="Rooms Icon" />
            </div>
            <div class="search-input">
                <select name="emlakNovu">
                    <option value="">Əmlak növü seçin</option>
                    <option th:each="emlak : ${emlakNovler}" th:value="${emlak.key}" th:text="${emlak.value}"
                            th:selected="${emlakNovuA == emlak.key ? 'selected' : null}"></option>
                </select>
                <img th:src="@{/website/img/home1.svg}" alt="Property Icon" />
            </div>
            <div class="search-input">
                <select name="alishKiraye">
                    <option value="">Alış / Kirayə</option>
                    <option th:each="alishKir : ${alishKiraye}" th:value="${alishKir.key}" th:text="${alishKir.value}"
                            th:selected="${alishKirayeA == alishKir.key ? 'selected' : null}"></option>
                </select>
                <img th:src="@{/website/img/type.svg}" alt="Deal Type" />
            </div>
            <div class="search-input search-btn">
                <input type="submit" value="İndi Axtar" />
            </div>
        </div>
    </form>
    <!-- search box -->

    <!-- product -->
    <section id="product">
        <div class="product-info">
            <h2 class="product-title text-center">
                Mənzillərimiz
            </h2>

            <!-- <a href="allProperties.html" class="product-btn">
                Hamısına Bax
                <img th:src="@{/website/img/arrow.svg}" alt="">
            </a> -->
        </div>
        <div class="container">
            <div class="product-card" th:each="alqiSatqi : ${alqiSatqiList}">
                    <img th:src="@{/photos/{file}(file=${alqiSatqi.photoPath})}" class="product-img" />
                <div class="card-info">
                    <div class="card-info-content">
                        <img th:src="@{/website/img/location.svg}" alt="">
                        <p class="location-name">
                            <span th:text="${alqiSatqi.sheherAdi}"></span><span th:if="${alqiSatqi.rayonAdi != null}" th:text="', ' + ${alqiSatqi.rayonAdi}"></span></p>
                    </div>
                    <div class="card-info-content">
                        <div class="content">
                            <img th:src="@{/website/img/bed.svg}" alt="">
                            <p th:text="${alqiSatqi.otaqSayi} + ' otaq'"></p>
                        </div>
                        <div class="content">
                            <img th:src="@{/website/img/area.svg}" alt="">
                            <p th:text="${alqiSatqi.sahe} + 'M²'"></p>
                        </div>
                        <div class="content" style="padding-left: 7px;">
                            <img th:src="@{/website/img/floor.svg}" width="25" alt="">
                            <p style="font-size: 11px; padding-left: 8px;" th:text="${alqiSatqi.mertebeSayi} + ' mərtəbə'"></p>
                        </div>
                    </div>
                    <div class="price">
                        <p th:text="${alqiSatqi.qiymet} + '₼'"></p>
                        <a th:href="@{'/property?id='} + ${alqiSatqi.id}" class="booking-btn">Ətraflı</a>
                    </div>
                </div>
                <!-- Favorite Button with Heart Image -->
                <!-- <button class="favorite-btn">
                    <img th:src="@{/website/img/heart.png}" alt="Favoritə əlavə et" class="heart-img">
                </button> -->
            </div>
        </div>

        <button class="loadMoreBtn" id="loadMoreBtn">Daha çox göstər</button>
        
    </section>

    <section class="footer" id="footer">
        <footer>
            <div class="footer-container">
                <div class="footer-info">
                    <h3><a href="index.html">Evimfix</a></h3>
                    <p>Sizə lazım olan tək platforma - EvimFix.</p>
                </div>
            
                <div class="footer-links">
                    <h3>Sürətli keçidlər</h3>
                    <ul>
                        <li><a href="indexWeb.html">Alqı Satqı</a></li>
                        <li><a href="indexWeb.html">Kirayə</a></li>
                        <li><a href="indexWeb.html">Günlük</a></li>
                        <li><a href="#sec4">Haqqımızda</a></li>
                        <li><a href="tel:+994505131380">Bizimlə Əlaqə</a></li>
                    </ul>
                </div>

                <div class="footer-social">
                    <h3>Bizi izləyin</h3>
                    <ul>
                        <li><a href="https://shorturl.at/yipHj" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        <li><a href="https://shorturl.at/PEljm" target="_blank"><i class="bx bxl-tiktok"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom" style="margin-top: 20px;">
                <p>&copy; 2025 Revio.Az - Bütün hüquqlar qorunur.</p>
                <p><a href="evimfix-terms.html">İstifadə şərtləri və Məxfilik siyasəti</a></p>
            </div>
        </footer>
    </section>

    <script>
        function enableDistrict(selectElement) {
            const rayonlar = document.getElementById('bakuDistrict');
            const metrolar = document.getElementById('metrolar');
            
            if (selectElement.value === '8') {
                rayonlar.disabled = false; 
                metrolar.disabled = false; 
            }
            
            else {
                rayonlar.disabled = true; 
                metrolar.disabled = true; 
                metrolar.value = ''; // Reset metro selection
                rayonlar.value = ''; // Reset district selection
            }
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sheherId = document.getElementById('locationSelect').value;
            const rayonlar = document.getElementById('bakuDistrict');
            const metrolar = document.getElementById('metrolar');

            if (sheherId === '8') {
                rayonlar.disabled = false; 
                metrolar.disabled = false; 
            }
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="@{/website/js/app.js}"></script>
</body>
</html>